<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Add User</title>
</head>
<body>

<form method="post" th:action="@{/user}">
    <div class="form-group">
        <label>Name
            <input type="text" name="username" th:value="${user.username}" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Email
            <input type="email" name="email" th:value="${user.email}" class="form-control">
        </label>
    </div>
    <p th:text="${model.error}"></p>
    <div class="form-group">
        <label>Password
            <input type="password" name="password" th:value="${user.password}" class="form-control">
        </label>
    </div>
    <label>Verify Password
    <input name="verify" type="password">
    </label>
</form>

</body>
</html>